* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 请浮动 */
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* 导航栏 */
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav .iconfont {
    display: none;
}

.lastLi {
    display: none;
}

.nav ul {
    display: inline-block;
    padding-top: 30px;
    position: relative;
    margin-left: 100px;
}

.nav ul::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

.nav a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding-bottom: 20px;
    position: relative;
    letter-spacing: 1px;
}

.nav .aIsCheck {
    color: #25C6FC;
}

.nav a::before,
.nav .aIsCheck::before {
    content: "";
    margin: auto;
    position: absolute;
    display: inline-block;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.nav .aIsCheck::before {
    background: #25C6FC;
    width: 100%;
}

.nav a:hover::before {
    width: 100%;
    left: 0;
    background: #25C6FC;
}

.nav a:hover {
    color: #25C6FC;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}

.nav .companyName {
    color: #25C6FC;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.nav li {
    float: left;
    padding: 0 30px;
}

.nav .topLi {
    padding: 0;
    margin-right: 120px;
}

.particlesBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#particles-js {
    width: 100%;
    height: 100%;
}

/* 导航栏 */

@media (max-width: 930px) {
    .nav ul {
        margin-left: 50px;
    }
}

@media (max-width: 840px) {
    .nav ul {
        margin-left: 0px;
    }

    .nav {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .nav .iconfont {
        display: inline-block;
    }

    .nav .aIsCheck {
        color: #fff;
    }

    .nav a:hover {
        color: #fff;
    }

    .nav .topLi,
    .nav ul::before,
    .nav a::before,
    .nav .aIsCheck::before {
        display: none;
    }

    .nav {
        text-align: left;
        background: #041A1C;
    }

    .nav ul {
        padding: 30px 0 20px 0;
    }

    .nav a {
        padding-bottom: 0;
    }

    .nav .iconfont {
        color: #fff;
        font-size: 25px;
    }

    .nav a {
        display: inline-block;
    }

    .nav .homeLi {
        padding-right: 10px;
    }

    .nav .LiThree {
        padding-left: 10px;
    }

    .nav .LiTwo {
        padding: 0 10px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    .nav .LiTwo img {
        width: 40px;
    }

    .nav .homeLi img {
        width: 30px;
    }
}

@media (max-width: 500px) {
    .nav li {
        display: none;
    }

    .nav .lastLi {
        display: block;
    }

    .showHidden ul {
        padding: 0 0 10px 0;
        margin-left: 10px;
    }

    .showHidden li {
        float: none;
        padding: 0 !important;
        padding-top: 10px !important;
    }

    .showHidden .LiTwo {
        border: none;
    }
}